@import url("https://fonts.googleapis.com/css?family=Roboto");

.main_mobile_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  position: fixed;
}
.mobile_avatar {
  height: 75px;
}
.hover_menu {
  display: none;
  background-image: linear-gradient(#000000, grey);
}
.main_mobile_nav:hover .hover_menu {
  position: absolute;
  overflow: visible;
  display: flex;
  justify-content: column;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main_mobile_nav {
  font-family: Roboto;

  font-size: 15px;
}
@media (min-width: 450px) {
  .main_mobile_nav {
    display: none;
  }
}
