@import url("https://fonts.googleapis.com/css?family=Roboto");

.main_mobile_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
}
.mobile_avatar {
  height: 75px;
}

.hover_menu {
  display: none;
  background-color: whitesmoke;
}
.main_mobile_nav:hover .hover_menu {
  position: absolute;
  overflow: visible;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_li {
  color: black;
}
.main_mobile_nav {
  font-family: Roboto;
  font-size: 15px;
  list-style: none;
}
@media (min-width: 450px) {
  .main_mobile_nav {
    display: none;
  }
}
