@import url("https://fonts.googleapis.com/css?family=Roboto");

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#000000, #9bc848);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(#000000, #9bc848);
  box-shadow: 1em 0.5em 1em black;
  border-radius: 5%;
}

.gear_logo {
  align-self: center;
  height: 100px;
  width: 200px;
  margin: 5px;
  position: relative;
}

.big_gear {
  animation: rotate 5s linear infinite;
  position: absolute;
  top: 5px;
  left: 10px;
  height: 50px;
  width: 50px;
}

.med_gear {
  animation: rotatemed 4.9s linear infinite reverse;
  position: absolute;
  top: 42px;
  left: 40px;
  height: 42px;
  width: 42px;
}

.small_gear {
  animation: rotatesmall 5s linear infinite;
  position: absolute;
  top: 65px;
  left: 13px;
  height: 35px;
  width: 35px;
}

.logo_text_my {
  position: absolute;
  font-weight: bold;
  font-family: Roboto;
  top: 18px;
  left: 70px;
  color: #027f55;
  height: 25px;
  width: 40px;
}

.logo_text_game {
  position: absolute;
  font-weight: bold;
  font-family: Roboto;
  top: 45px;
  left: 85px;
  color: #027f55;
  height: 25px;
  width: 50px;
}

.logo_text_hub {
  position: absolute;
  font-weight: bold;
  font-family: Roboto;
  top: 70px;
  left: 110px;
  color: #027f55;
  height: 25px;
  width: 40px;
}

.input_boxes {
  height: 100px;
  width: 200px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.password_match {
  display: flex;
  justify-content: space-evenly;
}

.login_btn,
.register_btn :hover {
  background-color: #000000;
}

.submit_btn {
  height: 30px;
  width: 100px;
  font-family: Roboto;
  background-color: whitesmoke;
  border: 1px solid black;
  align-self: center;
}

.login_btn {
  height: 30px;
  width: 100px;
  font-family: Roboto;
  background-color: whitesmoke;
  border: 1px solid black;
  align-self: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotatemed {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotatesmall {
  to {
    transform: rotate(360deg);
  }
}
