@import url("https://fonts.googleapis.com/css?family=Roboto");

.dashboard_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_content_container {
  height: 100vh;
  width: 100vw;
  margin-left: 190px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

:hover.personal_info {
  /* box-shadow: 0.5px 0.5px 0.5px 0.5px black; */
  border: 1px solid black;
}

.personal_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 600px;
  background-color: whitesmoke;
  border-radius: 5%;
}

.avatar {
  width: 100px;
}

.header_and_inputs {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.submit_cancel_btns {
  height: 75px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 450px) {
  .dashboard_container {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .dashboard_content_container {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :hover.personal_info {
    border: 1px solid black;
  }

  .personal_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 5%;
  }
  h1 {
    font-size: 25px;
  }
  .avatar {
    width: 75px;
  }

  .header_and_inputs {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .submit_cancel_btns {
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 770px) {
  .personal_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 5%;
  }
  h1 {
    font-size: 25px;
  }
}
