@import url("https://fonts.googleapis.com/css?family=Roboto");

.main_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 100vh;
  box-shadow: 5px 5px 5px black;
  background-image: linear-gradient(#000000, #9bc848);
  position: fixed;
}

.user_info {
  height: 150px;
  width: 170px;
  margin: 5px 0 5px 0;
  border: 1px solid white;
}

.ul_container {
  height: 750px;
  width: 170px;
  margin: 5px 0 0 0;
  border: 1px solid black;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  color: whitesmoke;
}

li:hover {
  color: grey;
}

.main_menu {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
}
